$theme-primary: #EDDFEF;   /* 60 */
$theme-secondary: #B7B6C1; /* 30 */
$theme-accent: #464655;    /* 10 */
$color-spanish-gray:#94958B;

$color-black: #000000;
$color-white: #ffffff;

$color-dark: #111111;
$color-light: #fdfcfc;

$color-red: #e01c1c;
$color-danger:#a71d2a;
$color-pink: #880E4F;
$color-purple: #4A148C;
$color-light-purple: #a16fdf;
$color-grey: #555C5E;
$color-blue-grey: #5B6E7D;
$color-rhythe: #6d7985;
$color-lighten-gray: #ECEFF1;
$color-lighten-back: #a6b7bf;
$color-lighten-gray1: #d8dcdd;
$color-gray: #a0aec4;
$color-sidebar-text: #607d8b;
$bodycolor: #f3f3f3;
$color-blue-purple: #b8bbf1;
$color-light-pink: #e9d6d6;
$color-green :#2fb873;
$color-white-gray: #d2dade;


