/*general*/
.panelTitle {
  font-size: 1.1rem;
  color: $color-sidebar-text;
}
/*dataTable ngx*/
.datatable-body-cell-label {
  text-align: right !important;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  text-align: right !important;
}
/*toggle-btn mat*/
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: $color-green !important;
}

.mat-slide-toggle-bar {
  background-color: $color-red !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: $color-white-gray !important;
}

/* mat-input */
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $theme-accent !important;
}
/*mat-icon*/
.material-icons {
  font-size: 1.45rem !important;
}

.mat-mini-fab {
  width: 35px !important;
  height: 35px !important;
}

.mat-mini-fab.mat-accent {
  background-color: #d2dade !important;
}

.mat-icon-button {
  width: 10 !important;
  height: 10 !important;
  line-height: 0 !important;
}

/*mat-dialog*/
.mat-dialog-container {
  background-color: $bodycolor !important;
  color: $color-sidebar-text !important;
}
/*mat-form-field*/
.mat-form-field {
  text-align: right !important;
}
.mat-form-field-label {
  color: $color-sidebar-text !important;
}

.mat-form-field-appearance-standard .mat-form-field-underline {
  background-color: $color-sidebar-text !important;
}

/*ng2-date-picker*/
dp-date-picker.dp-material .dp-picker-input {
  border: 1px solid #607d8b !important;
  border-radius: 4px;
}

.mat-select-value {
  color: $color-sidebar-text !important;
}

.dp-material dp-popup {
  top: unset !important;
  left: unset !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: $color-purple !important;
}

.mat-radio-outer-circle{
  border-color: $color-sidebar-text !important;
}

.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab{
  background-color: $color-blue-purple !important;
  color: $color-purple !important;
}
