/*general*/
.panelTitle {
  font-size: 1.1rem;
  color: $color-sidebar-text;
}

/*dataTable ngx*/
.datatable-body-cell-label {
  text-align: right !important;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  text-align: right !important;
}

/*toggle-btn mat*/
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: $color-green !important;
}

.mat-slide-toggle-bar {
  background-color: $color-red !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: $color-white-gray !important;
}

/* mat-input */
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $color-blue-purple !important;
}

/*mat-icon*/
.material-icons {
  font-size: 1.45rem !important;
}

.mat-mini-fab {
  width: 35px !important;
  height: 35px !important;
}

.mat-mini-fab.mat-accent {
  background-color: #d2dade !important;
}

.mat-icon-button {
  width: 10 !important;
  height: 10 !important;
  line-height: 0 !important;
}

/*mat-dialog*/
.mat-dialog-container {
  background-color: $bodycolor !important;
  color: $color-sidebar-text !important;
}

/*mat-form-field*/
.mat-form-field {
  text-align: right !important;
  display: unset !important;
}

.mat-form-field-label {
  color: $color-sidebar-text !important;
}

.mat-form-field-appearance-standard .mat-form-field-underline {
  background-color: $color-sidebar-text !important;
}

/*ng2-date-picker*/
dp-date-picker.dp-material .dp-picker-input {
  border: 1px solid #607d8b !important;
  border-radius: 4px;
}

.mat-select-value {
  color: $color-sidebar-text !important;
}

.dp-material dp-popup {
  top: unset !important;
  left: unset !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $color-purple !important;
}

.mat-radio-outer-circle {
  border-color: $color-sidebar-text !important;
}

.btn-submit {
  background-color: $color-green-light !important;
  color: $color-purple !important;
}
.btn-cancel{
  background-color:$color-sidebar-text;
}

/*mat-select*/
.mat-form-field-type-mat-select .mat-form-field-label {
  width: inherit !important;
}

/*mat-stepper*/
.mat-stepper-horizontal,
.mat-stepper-vertical {
  background-color: $color-white !important;
}

.mat-step-icon-content,
.mat-step-icon .mat-icon {
  top: 54% !important;
}

.mat-horizontal-stepper-header::before,
.mat-horizontal-stepper-header::after,
.mat-stepper-horizontal-line {
  border-top-color: #e1e2e3 !important;
}

.mat-step-header .mat-step-label.mat-step-label-active {
  color: $color-blue-purple !important;
}

.mat-step-label, .mat-step-optional {
  color: $theme-secondary !important;
}
 .mat-step-icon{
  margin-left: 7px;
  background-color: $theme-secondary !important ;
}
 .mat-step-icon-selected{
  margin-left: 7px;
  background-color: $color-blue !important ;
}

.dp-material > div:nth-child(2) {
  top: -65px !important;
  left: 0 !important;
}

/*mat-error*/
.mat-error {
  font-size: 0.7rem;
  position: absolute;
  bottom: -19px;
  right: 0;
}

/*mat-select*/
.mat-select-panel {
  background-color: $color-blue-grey;
}

.mat-select-panel-wrap {
  flex-basis: 70% !important;
}

.mat-select-panel .mat-optgroup-label,
.mat-select-panel .mat-option {
  text-align: right !important;
}

.forbidden{
  cursor: not-allowed !important;
}
