.switch {
  position: relative;
  width: 46px;
  height: 20px;

  .toggleInput {
    width: 44px;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EF5927;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

.toggleInput:checked+.slider {
  background-color: #10ac84;
}

.toggleInput:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider.disabled {
  opacity: 0.5;
}
