@import "../../../assets/template/sass/color";
.editBtn{
  margin-left: 10px;
  .editIcon{
    color: $color-green ;
  }
}

.deleteBtn {
  .deleteIcon{
    color: $color-red;
  }

}

.addBtn{
  margin-bottom: 10px;
}
