<div class="addBtn">
  <button mat-mini-fab aria-label="Example icon button with a menu icon" (click)="onAddProduct()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="ColumnMode.force" [footerHeight]="50" rowHeight="auto" [rows]="gridData">
  <ngx-datatable-column [name]="columnName[0]">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
          <span (dblclick)="editing[rowIndex + '-id'] = false">
              {{ row.id }}
          </span>
      </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [name]="columnName[1]">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span (dblclick)="editing[rowIndex + '-name'] = true" *ngIf="!editing[rowIndex + '-name']">
              {{ row.name }}</span>
          <input autofocus (blur)="updateValue($event, 'name', rowIndex)" *ngIf="editing[rowIndex + '-name']" type="text" [value]="row.name" />
      </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [name]="columnName[2]">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span (dblclick)="editing[rowIndex + '-price'] = true" *ngIf="!editing[rowIndex + '-price']">{{ row.price | number}} تومان</span>
          <input autofocus (blur)="updateValue($event, 'price', rowIndex)" *ngIf="editing[rowIndex + '-price']" type="text" [value]="row.price" />
      </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [name]="columnName[3]">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span (dblclick)="editing[rowIndex + '-pictureUrl'] = true" *ngIf="!editing[rowIndex + '-pictureUrl']"></span>
          <input autofocus (blur)="updateValue($event, 'pictureUrl', rowIndex)" *ngIf="editing[rowIndex + '-pictureUrl']" type="text" [value]="" />
          <img src="{{row.pictureUrl}}" class="product-img" alt="{{row.name}}">
      </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [name]="columnName[4]">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span (dblclick)="editing[rowIndex + '-percent'] = true" *ngIf="!editing[rowIndex + '-percent']"></span>
          <input autofocus (blur)="updateValue($event, 'percent', rowIndex)" *ngIf="editing[rowIndex + '-percent']" type="text" [value]=" row.percent" /> {{ row.percent}}
      </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [name]="columnName[5]">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span (dblclick)="editing[rowIndex + '-status'] = true" *ngIf="!editing[rowIndex + '-status']"></span>
          <input autofocus (blur)="updateValue($event, 'lastName', rowIndex)" *ngIf="editing[rowIndex + '-status']" type="text" [value]=" row.status" />
          <mat-slide-toggle></mat-slide-toggle>
      </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
