<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> ردیف </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> نام محصول </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> رنگ محصول </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> تصویر محصول </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
    </tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->

<!-- <p>{{remaining}} :زمان باقیمانده </p>
<button #stopEl style="margin-left: 10px;">توقف</button>
<button #resumeEl>ادامه</button> -->
<ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="ColumnMode.force"
    [footerHeight]="50" rowHeight="auto" [rows]="gridData">
    <ngx-datatable-column [name]="columnName[0]">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
            <span (dblclick)="editing[rowIndex + '-id'] = false">
                {{ row.id }}
            </span>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [name]="columnName[1]">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span (dblclick)="editing[rowIndex + '-name'] = true" *ngIf="!editing[rowIndex + '-name']">
                {{ row.name }}</span>
            <input autofocus (blur)="updateValue($event, 'name', rowIndex)" *ngIf="editing[rowIndex + '-name']"
                type="text" [value]="row.name" />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [name]="columnName[2]">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span (dblclick)="editing[rowIndex + '-price'] = true"
                *ngIf="!editing[rowIndex + '-price']">{{ row.price | number}} تومان</span>
            <input autofocus (blur)="updateValue($event, 'price', rowIndex)" *ngIf="editing[rowIndex + '-price']"
                type="text" [value]="row.price" />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [name]="columnName[3]">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span (dblclick)="editing[rowIndex + '-pictureUrl'] = true"
                *ngIf="!editing[rowIndex + '-pictureUrl']"></span>
            <input autofocus (blur)="updateValue($event, 'pictureUrl', rowIndex)"
                *ngIf="editing[rowIndex + '-pictureUrl']" type="text" [value]="" />
            <img src="{{row.pictureUrl}}" class="product-img" alt="{{row.name}}">
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [name]="columnName[4]">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span (dblclick)="editing[rowIndex + '-percent'] = true" *ngIf="!editing[rowIndex + '-percent']"></span>
            <input autofocus (blur)="updateValue($event, 'percent', rowIndex)" *ngIf="editing[rowIndex + '-percent']"
                type="text" [value]=" row.percent" /> {{ row.percent}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [name]="columnName[5]">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span (dblclick)="editing[rowIndex + '-status'] = true" *ngIf="!editing[rowIndex + '-status']"></span>
            <input autofocus (blur)="updateValue($event, 'lastName', rowIndex)" *ngIf="editing[rowIndex + '-status']"
                type="text" [value]=" row.status" />
            <mat-slide-toggle></mat-slide-toggle>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>