// @import "../../../assets/template/sass/color";

.ngx-datatable.material .datatable-header .datatable-header-cell {
    text-align: center;
    font-size: 0.9rem
}
.product-img{
    position: relative;
        width: 80% !important;
}
